@import "./variables";
@import "./fonts";
@import "./mix";

.wrapper {
    padding: $wrapper-padding;
    background-color: $background-white;
    width: 607px;
    height: 291px;
    // центрирование карточи со списком (не обязательно)
    margin: 0 auto;
}

.title {
    @include font();
    font-size: 18px;
    line-height: 22px;
    color: $text-color;
    display: block;
    margin-bottom: 16px;
}

.cards {
    list-style-type: none;
    display: flex;
    padding: $wrapper-padding;
    margin: 0;
}

.card {
    background-color: #f8f8f8;
    margin-right: 16px;
    padding: $wrapper-padding;
    border-radius: 24px;

    &-img {
        width: 149px;
        height: 138px;
        background-color: #c4c4c4;
        border-radius: 16px;
        margin-bottom: 16px;
    }

    &-btn {
        @include font();
        font-size: 12px;
        line-height: 15px;
        color: $text-color;
        padding: 10px 54px;
        border-radius: 10px;
        border: none;
    }

    &:last-child {
        margin-right: 0;
    }
}

/*~~~~~~~~Газета~~~~~~~~~~~*/

* {
    margin: 0;
}

.root {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.el {
    display: inline;
    font-size: 25px;
    background-color: #d0d3a4;
    border: 2px solid #e2b900;
    display: inline-block;
    height: auto;

    &:nth-child(2) {

    }
}

/*~~~end~~~Газета~~~~end~~~~*/